/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.level-selection {
  margin-bottom: 1rem;
  color: #555;
  align-items: center;
  display: flex;
}

.level-selection label {
  font-size: 1.2rem;
  font-size: 15px;
  display: flex;
  align-items: center;
}

#nivel_jogo {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botão de Início */
.start-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #3e8d99;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button img {
  height: 24px;
  width: 24px;
}

.start-button:hover {
  background-color: #3e8d99;
}
